/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #050505;
} */
.cube{
    position: relative;
    height: 30px;
    width: 30px;
    transform-style: preserve-3d;
    animation: animate 4s linear infinite;
}
@keyframes animate
{
    0%
    {
        transform: rotateX(-30DEG) rotateY(0DEG);
    }
    100%
    {
        transform: rotateX(-30DEG) rotateY(360DEG);
    }
}   
.cube div{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 transform-style: preserve-3d;
}
.cube div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515,#00b6ec);
    transform: rotateY(calc(90deg * var(--i))) translateZ(15px);

}
.top{
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: #222;
    transform: rotateX(90deg) translateZ(15px);
}
