::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(60deg,#493b5390,#56505b90,#959396);
    border-radius: 6px;
}
::-webkit-scrollbar-track{
    background: #d6d5d5;
}