::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(#00000080 , rgba(117, 71, 71, 0.404), rgba(99, 45, 45, 0.603));
    border-radius: 6px;
}
::-webkit-scrollbar-track{
    background: #d6d5d5;
}