::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(30deg,#959396d6,#64b840,#a9ce53);
    border-radius: 6px;
}
::-webkit-scrollbar-track{
    background: #d6d5d5;
}