::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(#00000080 , #494b8e80);
    border-radius: 6px;
}
::-webkit-scrollbar-track{
    background: #9ca3af;
}