*{
    margin: 0;padding: 0;
}
header{
    background-color: black;
}
a{
    text-decoration: none;
    color: darkgray;
    margin: 26px;
}
li.navig{
    display: inline-block;
    font-size: 26px;
    margin-top: 27px;
}
.name{
    background-color: rgba(194, 194, 194, 0.43);
    color: #000;
    font-style: italic;
    display: inline-block;
    width: 200px;
    height: 50px;
    padding: 9px 22px 30px 22px;
    text-align: center;
    margin: 56px 300px 49px 300px;
    font-size: 29px;
    border: 4px solid #363535;
    border-radius: 89px;
    z-index: 1;
}
.sushant{
    position: relative;
    left: -14px;
}
.sharma{
position: relative;
left: 16px;    
font-family: karla;
}
.whitebox{
    background-color: #C2C2C2;
    height: 185px;
    width: 263px;
    display: inline-block;
    position: absolute;
    top: 105px;
    left: 1083px;
}
.blackbox{
    background-color: rgba(0, 0, 0, 0.67);
    height: 159px;
    width: 266px;
    position: absolute;
    top: 258px;
    left: 1082px;
}
.picture{
    position: absolute;
    top: 90px;
    left: 1100px;
    z-index: 1;
}
.social-media{
    background-color: rgba(0, 0, 0, 0.37);
    display: inline-block;
    position: absolute;
    top: 541px;
    right: 30px;
    height: 218px;
    width: 69px;
    border: 3px solid rgba(30, 30, 31, 0.329);
border-radius: 16px;
}
img{
    padding: 10px;
    margin-left: -20px;
    margin-top: 10px;
    
}
img.background{
    height: 259px;
    position: fixed;
    z-index: -10;
    top: 459px;
    border-radius: 84px;
    left: -26px;
}
.container1{
    background-color: rgba(25, 25, 26, 0.11);
    height: 445px;
    width: 1210px; 
    margin-top: 221px;
    margin-left: 150px;
    z-index: 1;
    
}
.container2{
    background-color: rgba(25, 25, 26, 0.11);
    /*height: 445px;*/ 
    width: 1210px;
    margin-top: 221px;
    margin-left: 150px;
    z-index: 1;
    margin-bottom: 50px;
}
.container3{
    background-color: rgba(25, 25, 26, 0.11);
    height: 445px;
    width: 1210px;
    margin-top: 221px;
    margin-left: 150px;
    z-index: 1;
}
.about{
    background-color: rgba(68, 68, 68, 0.07);
    height: 140px;
    font-size: 123px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    z-index: 2;
    
}
.brief{
    background-color: rgba(245, 245, 220, 0);
    display: inline-block;
    position: relative;
    top: 17px;
    height: 1.5em;
    width: 10.5em;
    font-size: 54px;
    left: 1em;
    margin: -15px;
    z-index: 1;
}
p.about1{
background-color: rgba(183, 183, 180, 0);
top: 29px;
width: 458px;
display: inline-block;
position: relative;
left: 40px;
padding-left: 20px;
padding-right: 20px;
z-index: 1;
font-size: larger;
}
p.about2{
    background-color: rgba(183, 183, 180, 0);
    
    width: 458px;
    display: inline-block;
    position: relative;
    left: 63px;
    top: 46px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1;
    font-size: larger;
    }
    .Educational{
        background-color: rgba(68, 68, 68, 0.07);
        height: 140px;
        font-size: 93px;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        z-index: 2;
    }
    .school{
        background-color: rgba(245, 245, 220, 0.13);
        display: inline-block;
        position: relative;
        top: 17px;
        height: 1.5em;
        width: 6em;
        font-size: 34px;
        left: 134px;
        margin: -15px;
        z-index: 1;
        text-align: center;
    }
    .school-score{
        position: relative;
        top: 42px;
        left: 30px;
    }
    .college-score{
        position: relative;
        top: -84px;
        left: 655px;
    }
    th{
        margin: 4px;
        padding: 8px;
    }
    td{
        margin: 4px;
        padding: 8px;
    }
    .college{
        background-color: rgba(245, 245, 220, 0.13);
        display: inline-block;
        position: relative;
        top: 17px;
        height: 1.5em;
        width: 6em;
        font-size: 34px;
        left: 500px;
        margin: -15px;
        z-index: 1;
        text-align: center;
    }
.skills-word{
    background-color: rgba(68, 68, 68, 0.07);
    height: 140px;
    font-size: 123px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    z-index: 1;
}
li.skill-list{
margin: 5px;
}
.skill-topic1{
    font-size: 36px;
    display: inline-block;
    position: relative;
    left: 40px;
    margin: 10px;
}
ul.engineering-list{
left: 95px;
display: inline-block;
position: relative;
}
.skill-topic2{
    font-size: 36px;
    display: inline-block;
    position: relative;
    left: 40px; 
    margin: 10px;  
}
ul.languages-list{
    left: 95px;
display: inline-block;
position: relative;
}
.skill-topic3{
    font-size: 36px;
    display: inline-block;
    position: relative;
    left: 40px; 
    margin: 10px; 
}
ul.tools-list{
    left: 95px;
    display: inline-block;
    position: relative;
}
.skill-hobby-brief{
    background-color: rgba(245, 245, 220, 0.13);
    display: inline-block;
    z-index: 1;
}
.hobbiesbox {
    display: inline-block;
    position: absolute;
    top: 2014px;
    left: 861px;
    background-color: rgba(128, 128, 128, 0.74);
    border: 5px solid rgba(0, 0, 0, 0.45);
    border-radius: 66px;
    height: 149px;
    width: 127px;
    padding: 30px;
}
.hobby-word{
    font-size: 30px;
    display: inline-block;
    position: relative;
    left: 10px;
    font-style: italic ;
}
ul.hobbies-box{
    display: inline-block;
    position: relative;
    top: 12px;
    font-style: italic;
}
body{
    background: rgba(143, 143, 143, 0.54);
}
footer{
    background-color: black;
    color: white  ;
    padding: 10px;
    border: 5px;
    text-align: center;
    margin-top: 23px;
}
   