a:hover{
    color: #EAC78D;
}
.name:hover{
    color: #EAC78D;
    background-color: rgba(71, 61, 139, 0.27);
}

.container1:hover {
    background-color: rgba(10, 10, 20, 0.27);
    border-radius: 30px;
    width: 85%;
    height: 52vh;
    margin-bottom: 200px;
}
.container1 {
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(.47,.39,.23,1.31);
}
.container2:hover {
    background-color: rgba(10, 10, 20, 0.27);
    border-radius: 30px;
    margin-bottom: 200px;
    width: 85%;
    height: 80vh;
    margin-bottom: 10px;
}
.container2 {
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(.47,.39,.23,1.31);
}
.container3:hover {
    background-color: rgba(10, 10, 20, 0.27);
    border-radius: 30px;
    width: 85%;
    height: 52vh;
    margin-bottom: 200px;
}
.container3 {
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(.47,.39,.23,1.31);
}
